<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
        Future site of Fur East Pets <br> * Under Construction *
      </h1>

      <p class="subtitle">
        Soon to be your favourite place to get all the cute, handmade accessories for your pet. As well as treats that are simple and delicious!
      </p>
    </div>
  </div>
</section>
