<h1>Future site of Fur East Pets <br> * Under Construction *</h1>
<p>Soon to be your favourite place to get all the cute, handmade accessories for your pet. As well as treats that are simple and delicious!</p>
<p><%= link_to "Store", spree_path %></p>
